* {
    box-sizing: border-box;
    background-color: rgb(224, 245, 224);
  }
.skills{
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 10px;
}
.skill{
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 20px;
}

.row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
    font-size: 15px;
  }

  h1, h2, h3{
    text-align: center;
    padding: 0.5px;
  }
  .sign{
    display: bottom;
    justify-content: right;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 20px;
    text-align: right;
    padding: 50px;
}